.vscode
logs/
work
sim.log
.gitignore
*.wlf
transcript
*.sh
*.f
.Xil/
rtl/bnn_np_bank/deps.f
openflex/build_questa
openflex/build_vivado
run.log
.cxl.ip/
modelsim.ini
modelsim.ini.bak
*.log
*.log.bak
*.jou
*.version
